body, html {
  height: 100%;
  font-size: 25px;
  font-family: Monospace;
}

#start {
  font-size: 200%;
  text-decoration: none;
}

.landing-left {
  text-align: right;
}
.landing-right {
  text-align: left;
}
.landing-top {
  padding-right: 25px;
}
.landing-bottom {
  padding-left: 25px;
}

@media (max-width: 575px) {
  .landing-left {
    text-align: center;
  }
  .landing-right {
    text-align: center;
  }
  .landing-top {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 0;
    padding-bottom: 25px;
  }
  .landing-bottom {
    padding-left: 0;
    padding-top: 25px;
  }
}
