.pg-loading-screen {
  overflow-y: auto;
}

.pg-loading-logo-header {
  height: 0;
  margin: 0;
  border: 0;
}

.pg-loading-html {
  margin: 0 !important;
}

#start {
  font-size: 400%;
  font-family: monospace;
  text-decoration: none;
  line-height: .5;
  margin-top: 40px;
}

.splash-main {
  font-size: 200%;
}

#splash-line4 {
  margin-top: 30px;
}

#lang-select {
  margin-top: 20px;
  font-size: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info_button {
  position: relative;
  right: 150px;
  font-size: 220%;
  text-decoration: none;
}

.sa-icon {
  display: none !important;
}

.sweet-alert {
  height: 550px;
  width: 366px !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  animation: none !important;
  font-family: monospace !important;
}

.sweet-alert h2 {
  margin-bottom: 10px;
  font-size: 25px !important;
}

.sweet-alert p {
  text-align: left !important;
  margin: 10px !important;
  font-size: 90% !important;
  overflow-y: auto;
  height: 370px;
}

.sweet-alert a {
  margin: 0 35px;
  display: inline-block;
}

.confirm {
  color: rgb(51, 122, 183) !important;
  background-color: rgb(255, 255, 255) !important;
  margin: 0 !important;
  font-size: 500% !important;
  line-height: 40px !important;
}

.container-fluid {
  width: 320px;
  height: 550px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  margin: 5px 0;
  color: rgb(0, 0, 0);
  font-family: monospace;
  text-align: center;
  font-weight: 900;
  font-size: 220%;
}

.container-fluid > h2 {
  height: 35px;
}

.title {
  float: left;
}

.about-faq {
  float: right;
  font-size: 50%;
  font-weight: 500;
  padding-top: 10px;
}

#about_link {
  margin-right: -5px;
}

#faq_link {
  padding-left: 2px;
}

label {
  width: 320px;
  padding: 0;
}

#rated-container, #unrated-container {
  width: 320px;
  text-align: center;
}

#rated {
  font-family: monospace;
  font-weight: 900;
  font-size: 150%;
  text-decoration: none;
  text-align: center;
}

#unrated {
  font-family: monospace;
  font-weight: 900;
  font-size: 90%;
  text-decoration: none;
  text-align: center;
}

#rating_space {
  height: 10px;
}

.rating-labels {
  font-family: monospace;
  font-size: 150%;
  text-align: center;
}

.left-rating-label {
  float: left;
}

.right-rating-label {
  float: right;
}

.form-group {
  margin-bottom: 0;
}

.fa {
  font-size: 30px;
  color: rgb(220, 44, 68);
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 5px;
}
