// variables
$spacer: 5px;
$font-size: 14px;

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:100,200,300,400,500,600,700,800,900);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  background-color: #161616;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: $font-size;
  color: #afafaf;
}

img {
  max-width: 100%;
}

a {
  color: #85bdfd;
  text-decoration: none;
  cursor: pointer;
}

figure {
  display: block;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

#app {
  background-color: #161616;
  max-width: 400px;
  width: 100vw;
  position: absolute;
  left: 50%;
  top: $spacer * 5;
  transform: translate(-50%, 0);
  min-height: calc(100% -  #{($spacer * 5) * 2});
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.modal {
  background-color: #161616!important;
  box-shadow: none !important;
}

.large-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    font-size: 1.6rem;
  }
}

.rule {
  width: 80%;
}

.full-height {
  height: 100%;
}

.text-xl {
  font-weight: 900;
  font-size: $font-size * 3;
}

.text-lg {
  font-weight: normal;
  font-size: $font-size * 1.5;
}

.text-sm {
  font-weight: 400;
  font-size: $font-size * 0.9;
}

.text-bold {
  font-weight: 900;
}

.text-monospace {
  font-family: 'Source Code Pro', monospace;
}

.text-long-form {
  text-align: left;
}

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.list-divided {
  li {
    border-right: 1px solid;
    padding-right: .6rem;
    margin-right: .4rem;
    align-self: center;

    &:last-child {
      border-right: 0;
    }
  }
}

.spacer-lg {
  padding: $spacer * 5;
}

.spacer-sm {
  padding: $spacer;
}

.cornell-logo {
  height: $font-size + 3;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.flex-row {
  flex-direction: row;
}

.fill-space {
  flex-grow: 1;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.caption-row {
  margin-bottom: .2rem;
}

.common-name {
  align-self: center;
  padding-right: .2rem;
}

.sci-name {
  font-style: italic;
  font-weight: normal;
  align-self: center;
}

.two-rows {
  min-height: 2rem;
}

.species-name {
  font-size: $font-size;
  font-weight: 700;
  margin-top: 0;
}

.bird-image {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 30vh;
  min-height: 200px;
}

.about-links {
  margin: 0;
  display: flex;
  a {
    display: block;
    align-self: center;
    &:first-child {
      padding-right: .2rem;
    }
  }
}

.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.question {
  font-weight: 600;
}
.rtl {
  .text-long-form, .align-left {
    text-align: right;
  }
  p, h1, h2, h3, .flex-row, .d-flex, span, a {
    direction: rtl;
  }
}
